<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bsb.hike"
    android:installLocation="auto"
    android:versionCode="1757"
    android:versionName="4.2.7.81.108.6.ota_chatthemes_v1_1" >

   <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17"
        tools:overrideLibrary = "android.support.customtabs"/>

    <permission
        android:name="com.bsb.hike.ui.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bsb.hike.ui.permission.MAPS_RECEIVE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
      <!--for Samsung Badger-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <!--     for htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

<!--     for sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>

<!--     for apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

<!--     for solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!-- C2DM -->
    <permission
        android:name="com.bsb.hike.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bsb.hike.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".HikeMessengerApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/hike_logo_top_bar"
        tools:replace="android:name,android:allowBackup"
        android:theme="@style/AppTheme" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bsb.hike.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <service
            android:name=".service.HikeService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.bsb.hike.service.ACTION_BIND" />
            </intent-filter>
        </service>

        <service android:name=".modules.gcmnetworkmanager.GcmNwMgrService"
                 android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service android:name=".service.UpgradeIntentService" />
        <service android:name=".spaceManager.StorageSpecIntentService" />
        <service android:name=".GCMIntentService" />
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Home"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ComposeChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_label"
            android:theme="@style/AppTheme.Home"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter android:label="@string/app_label">
                <action android:name="android.intent.action.SEND" />

				<action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BlockCallerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_label"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:label="@string/app_label"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".ui.HomeFtueActivity"
            android:label="@string/app_label"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".chatthread.ChatThreadActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label="@string/app_label"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ChatThread"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HikePreferences"
            android:label="@string/preferences">
        </activity>
        <activity
            android:name=".ui.HikeListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_label"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.Overlay" >
            <intent-filter android:label="@string/set_profile_pic" >
                <action android:name="android.intent.action.ATTACH_DATA" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cropimage.HikeCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home.PhotoEditor" />

        <activity
            android:name=".ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/WebView.Theme">
        </activity>
        <activity
            android:name=".modules.fusedlocation.ShareLocation"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.TellAFriend"
            android:launchMode="singleTop" >
        </activity>
        <activity android:name=".ui.SettingsActivity"
                  android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.bsb.hike.ui.ConnectedAppsActivity"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.bsb.hike.ui.HikeAuthActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.bsb.hike.ui.HikeAuthActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bsb.hike.timeline.view.StatusUpdate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ProfilePicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home.PhotoEditor" >
        </activity>
        <activity
            android:name=".ui.GalleryActivity"
            android:theme="@style/AppTheme.Home.PhotoEditor" >
        </activity>
        <activity android:name=".ui.HikeSharedFilesActivity"
            android:theme="@style/AppTheme.Home.PhotoEditor" >
        </activity>
        <activity android:name=".ui.GallerySelectionViewer"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.CountrySelectActivity" >
        </activity>
        <activity
            android:name="com.bsb.hike.ui.StickerShopActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.bsb.hike.ui.StickerSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".modules.packPreview.PackPreviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.FileSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".ui.SharedOtherFilesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity android:name=".ui.CreateNewGroupOrBroadcastActivity" >
        </activity>
        <activity
            android:name=".ui.PeopleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.bsb.hike.timeline.view.TimelineActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.bsb.hike.ui.NUXInviteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bsb.hike.ui.NuxSendCustomMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.bsb.hike.timeline.view.TimelineSummaryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
        </activity>
        <activity
            android:name="com.bsb.hike.ui.PictureEditer"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home.PhotoEditor" >
        </activity>
        <activity
            android:name=".chatHead.StickerShareSettings"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" >
        </activity>
        <activity
            android:name=".ui.PinHistoryActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.ChatThread" >
        </activity>
        <activity
            android:name=".ui.MessageInfoActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/AppTheme.ChatThread" >
        </activity>
        <activity
            android:name=".voip.view.CallRateActivity"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentBlack" >
        </activity>
        <activity
            android:name="com.haibison.android.lockpattern.LockPatternActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="user"
            android:theme="@style/LockPatternTheme"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
         <activity
            android:name=".ui.ServerHostChangeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_label"
            />
         <activity
            android:name=".ui.ApkSelectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_label"
            android:windowSoftInputMode="adjustResize" >
        </activity>

         <activity
            android:name=".ui.HikeDirectHelpPageActivity"
            android:label="@string/app_label"
         >
        </activity>
        <activity
            android:name=".ui.LinkDispatcherActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Transparent" >
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://hike.in/” -->
                <data
                    android:host="hike.in"
                    android:pathPrefix="/"
                    android:scheme="http" />
                <!-- Accepts URIs that begin with "https://hike.in/” -->
                <data
                    android:host="hike.in"
                    android:pathPrefix="/"
                    android:scheme="https" />
                 <data
                     android:host="bots"
                     android:pathPrefix="/"
                     android:scheme="hike" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.BootService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.AppUpdatedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.LocaleChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bsb.hike" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.SMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.TimeChangedReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notifications.NotificationDismissedReceiver"
            android:exported="true" >
        </receiver>
        <activity
            android:name=".ui.DeleteAccount"
            android:label="@string/app_label"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/unobfuscated_map_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".service.SmsMessageStatusReceiver" />
        <receiver android:name=".service.AlarmBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.bsb.hike.START_ALARM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".voip.view.VoIPActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:taskAffinity=":voip"
            android:excludeFromRecents="true"
            android:theme="@style/TranslucentBlack" >
        </activity>
         <!-- CocosGaming Activity -->
        <activity
            android:name="com.bsb.hike.platform.CocosGamingActivity"
            android:process="org.cocos2dx.gameprocess"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:exported="true" >
        </activity>
        <service android:name="com.bsb.hike.platform.CocosProcessIntentService"
            android:process="org.cocos2dx.gameprocess"
            />
        <service android:name="com.bsb.hike.platform.HikeProcessIntentService"
            android:process="com.bsb.hike"
            />

        <service android:name=".chatHead.ChatHeadService"
            android:label="HikeStickeyService"/>
        <service android:name=".voip.VoIPService" />

        <service
            android:name=".service.HikeAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibilityservice" />
        </service>

        <provider
            android:name="com.bsb.hike.providers.HikeProvider"
            android:authorities="@string/authority"
            android:exported="true" >
        </provider>

        <receiver
            android:name=".service.ConnectionChangeReceiver"
            android:label="NetworkConnection" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".service.SimpleWakefulService" >
        </service>

        <service android:name=".service.HikeMicroAppsCodeMigrationService" />

		<receiver android:name=".service.ScreenOnOffReceiver" >
        </receiver>

        <receiver
            android:name=".service.ReferralReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.bsb.hike.service.DeviceShutDownReceiver"
            android:enabled="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>

        </receiver>

        <receiver
             android:name="com.bsb.hike.offline.NotificationCancelReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="com.bsb.cancel" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.bsb.hike.notifications.PersNotifClickReceiver">
            <intent-filter>
                <action android:name="com.bsb.hike.PERS_NOTIF_ALARM_INTENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.bsb.hike.PERS_NOTIF_URL_INTENT" />
            </intent-filter>
        </receiver>

    <meta-data
            android:name="io.fabric.ApiKey"

            android:value="${crashlyticsApiKey}" />
        <receiver
            android:name="com.bsb.hike.triggers.ImageAndVideoInterceptReceiver">
            <intent-filter >
                <action android:name="com.android.camera.NEW_PICTURE"/>
                <action android:name="android.hardware.action.NEW_PICTURE"/>
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.hardware.action.NEW_VIDEO"/>
                <data android:mimeType="video/*" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.bsb.hike.triggers.InterceptNotifClickReceiver">
            <intent-filter >
                <action android:name="com.bsb.hike.INTERCEPT_NON_DWLD_SHARE_INTENT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.bsb.hike.INTERCEPT_SET_DP_INTENT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.bsb.hike.INTERCEPT_PHOTO_EDIT_INTENT" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.bsb.hike.INTERCEPT_VIDEO_SHARE_INTENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hike.abtest.UpdateExperimentService"
            android:exported="false" />

        <receiver
            android:name=".notifications.UJNotifClickReceiver">
            <intent-filter>
                <action android:name="com.bsb.hike.UJ_NOTIF_ACTION_INTENT" />
            </intent-filter>
        </receiver>
</application>

</manifest>
